@use "../mixins" as *;

.approach {
  &__top {
    padding-top: 80px;
    background-color: #f7f8f8;
    padding-bottom: 115px;
  }

  &__content-wrapper {
    padding-top: 33px;
    grid-column: 5 span;

    @include big-desktop {
      margin-bottom: var(--offset);
    }

    @include small-tablet {
      grid-column: 12 span;
      margin: 0 auto;
      text-align: center;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 13px;
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
    color: var(--dark-color);
  }

  &__descr {
    margin: 0;
    margin-bottom: 37px;
    max-width: 450px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: var(--text-color);
  }

  &__btn {
    border: 1px solid rgba(53, 83, 98, 0.2);
    padding: 16px 34px;
    color: #00413e;

    @include small-tablet {
      margin-bottom: var(--offset);
    }
  }

  &__image-wrapper {
    display: flex;
    align-items: start;
    grid-column: 7 / 6 span;
    gap: 8px;

    @include big-desktop {
      grid-column: 1 / 12 span;
      justify-content: flex-start;
    }

    @include mobile {
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  &__image {
    @include mobile {
      max-width: 200px;
    }
  }

  &__bottom {
    padding: 24px 0;
    width: 100%;
    background-color: var(--light-color);
  }

  &__list {
    @include small-tablet {
      gap: 20px;
    }
  }

  &__item {
    grid-column: 2 span;

    @include small-tablet {
      grid-column: 6 span;
    }
  }

  &__link {
    display: block;
    border-top: 1px solid rgba(53, 83, 98, 0.3);
    padding-top: 16px;
    padding-left: 32px;
    font-weight: 400;
    font-size: var(--second-size);
    line-height: 24px;
    color: var(--text-color);
    background-position: left top 15px;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;

    &--ted {
      background-image: url("../img/approach-icon-1.png");
    }
    &--nyt {
      background-image: url("../img/approach-icon-2.png");
    }
    &--scoop {
      background-image: url("../img/approach-icon-3.png");
    }
    &--press {
      background-image: url("../img/approach-icon-4.png");
    }
    &--time {
      background-image: url("../img/approach-icon-5.png");
    }
    &--freethink {
      background-image: url("../img/approach-icon-6.png");
    }

    &:focus {
      outline: none;
      border-color: var(--active-color);
    }

    @include hover {
      border-color: var(--accent-color);
      color: var(--accent-color);
    }

    &:active {
      border-color: var(--active-color);
      color: var(--active-color);
    }
  }
}
