@use "../mixins" as *;

.partners {
  padding: 16px 0;

  &__container {
    align-items: center;
    gap: 6px;

    @include big-desktop {
      justify-content: space-between;
    }

    @include small-tablet {
      flex-direction: column;
    }
  }

  &__logo {
    @include big-desktop {
      max-width: 140px;
    }

    @include small-tablet {
      max-width: 120px;
    }
  }

  &__title {
    margin: 0px;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--text-color);
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 12px;

    @include big-desktop {
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  &__link {
    &:focus {
      outline: 1px solid var(--active-color);
      outline-offset: 3px;
    }
  }

  &__more {
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--text-color);
    transition: color 0.3s ease-in-out;

    &:focus {
      outline: 1px solid var(--active-color);
      outline-offset: 3px;
    }

    @include hover {
      color: var(--accent-color);
    }

    &:active {
      color: var(--active-color);
    }
  }
}
