@use "../mixins" as *;

.where {
  padding: 155px 0 133px;
  background-color: #001f1f;

  @include mobile {
    padding: 120px 0 100px;
  }

  &__container {
    @include tablet {
      text-align: center;
    }
  }

  &__content {
    grid-column: 4 span;

    @include tablet {
      margin-bottom: var(--offset);
      grid-column: 12 span;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 43px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 36px;
    line-height: 52px;
    letter-spacing: 0.03em;
    color: var(--light-color);

    @include tablet {
      margin-bottom: 30px;
    }
  }

  &__descr {
    margin: 0;
    margin-bottom: 37px;
    max-width: 326px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: var(--light-color);

    @include tablet {
      margin-bottom: 25px;
      max-width: 100%;
    }
  }

  &__btn {
    border: none;
    background-color: #00665f;
    font-size: 14px;
  }

  &__map {
    grid-column: 7 / 5 span;

    @include tablet {
      grid-column: 12 span;
    }
  }
}
