<section class="press">
  <div class="container">
    <div class="press__top flex">
      <h2 class="press__title">Recidiviz in the Press</h2>
      <a href="#" class="btn-reset press__btn btn">See All</a>
    </div>
    <ul class="list-reset press__list grid">
      <li class="press__item">
        <article class="press-card">
          <div class="press-card__top">
            <div class="press-card__author press-card__author--ted">Ted Talks</div>
            <time datetime="2022-02-22" class="press-card__date">2.22.22</time>
          </div>
          <h3 class="press-card__title">
            <a href="#" class="press-card__link" target="_blank">Meet the 2022 class of TED Fellows</a>
          </h3>
        </article>
      </li>
      <li class="press__item">
        <article class="press-card">
          <div class="press-card__top">
            <div class="press-card__author press-card__author--news">Correctional News</div>
            <time datetime="2022-02-22" class="press-card__date">2.22.22</time>
          </div>
          <h3 class="press-card__title">
            <a href="#" class="press-card__link" target="_blank">New Partnership Aims to Help Transform Prison
              Conditions</a>
          </h3>
        </article>
      </li>
      <li class="press__item">
        <article class="press-card">
          <div class="press-card__top">
            <div class="press-card__author press-card__author--department">Department of Justice</div>
            <time datetime="2022-01-26" class="press-card__date">1.26.22</time>
          </div>
          <h3 class="press-card__title">
            <a href="#" class="press-card__link" target="_blank">Justice Department Establishes Initiative to Strengthen
              States’ Use of Criminal Justice Data</a>
          </h3>
        </article>
      </li>
      <li class="press__item">
        <article class="press-card">
          <div class="press-card__top">
            <div class="press-card__author press-card__author--nyt">The New York Times</div>
            <time datetime="2021-12-27" class="press-card__date">12.27.21</time>
          </div>
          <h3 class="press-card__title">
            <a href="#" class="press-card__link" target="_blank">The 2021 Good Tech Awards</a>
          </h3>
        </article>
      </li>
      <li class="press__item">
        <article class="press-card">
          <div class="press-card__top">
            <div class="press-card__author press-card__author--c1">Corrections1</div>
            <time datetime="2021-11-18" class="press-card__date">11.18.21</time>
          </div>
          <h3 class="press-card__title">
            <a href="#" class="press-card__link" target="_blank">Maine DOC to better harness correctional data to
              improve outcomes</a>
          </h3>
        </article>
      </li>
      <li class="press__item">
        <article class="press-card">
          <div class="press-card__top">
            <div class="press-card__author press-card__author--crime">Right on Crime</div>
            <time datetime="2021-09-09" class="press-card__date">9.9.21</time>
          </div>
          <h3 class="press-card__title">
            <a href="#" class="press-card__link" target="_blank">Together, We Can Make Mississippi Safer and
              Reentry-Ready</a>
          </h3>
        </article>
      </li>
    </ul>
  </div>
</section>